USE [QuanLyBanCafe]
GO
/****** Object:  Table [dbo].[KHO_NGUYEN_LIEU]    Script Date: 28/02/2026 8:20:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO_NGUYEN_LIEU](
	[MaNL] [varchar](10) NOT NULL,
	[TenNL] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [float] NULL,
	[DiemCanhBao] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHO_NGUYEN_LIEU] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[KHO_NGUYEN_LIEU] ADD  DEFAULT ((5)) FOR [DiemCanhBao]
GO
