USE [QuanLyBanCafe]
GO
/****** Object:  Table [dbo].[LOAI_HINH_LV]    Script Date: 28/02/2026 8:20:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HINH_LV](
	[MaLHLV] [int] NOT NULL,
	[TenLHLV] [nvarchar](50) NOT NULL,
	[MucLuongCoDinh] [decimal](18, 0) NULL,
	[MucLuongTheoGio] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenLHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
